<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Service Project Categories</h2>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>">
                    <%= category.category_name %>
                </a>
            </li>
        <% }); %>
    </ul>
    <a href="/new-category">Add a new category</a>
</main>

<%- include('partials/footer') %>