<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2><%= category.category_name %></h2>

    <h3>Service Projects</h3>

    <ul class="project-list">
        <% projects.forEach(project => { %>
            <li class="project-card">
                <a href="/project/<%= project.project_id %>">
                    <%= project.project_title %>
                </a>
            </li>
        <% }); %>
    </ul>
    <a href="/edit-category/<%= category.category_id %>">Edit Category</a>
</main>

<%- include('partials/footer') %>