<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>

    <ul class="project-list">
        <% projects.forEach(project => { %>
            <li class="project-card">
                <h3><%= project.project_title %></h3>

                <p>
                    <strong>Organization:</strong>
                    <%= project.organization_name %>
                </p>

                <p>
                    <strong>Description:</strong>
                    <%= project.description %>
                </p>

                <% if (project.categories && project.categories.split(',').length > 1) { %>
                    <strong>Categories:</strong>
                <% } else { %>
                    <strong>Category:</strong>
                <% } %>

                <%= project.categories %>

                <p>
                    <strong>Location:</strong>
                    <%= project.project_location %>
                </p>

                <p>
                    <strong>Date:</strong>
                    <%= project.project_date %>
                </p>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>